@charset "utf-8";

*, *::before, *::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

i {
  color: #777;
}

.skills ul {
  font-size:0;
  line-height:0;
}

.is_flex, .d-center, .d-start {
  display: flex;
  flex-direction: row;
}

.is_flex {
  justify-content: space-between;
}

.header {
  background: #fff;
  position: sticky;
  top: 0;
  padding: 15px 0;
  z-index:10
}

.drawer_hidden {
  display: none;
}

.drawer_open {
  position: relative;
}

.inner {
  width: 1100px;
  margin: 0 auto;
}

.contact {
  background-color: #6ba7eb;
  font-size: 12px;
  padding: 12px 14px;
}

.contact a {
  color: #fff;
  transition: 0.3s;
}

.contact a:hover {
  color: #333;
  transition: 0.3s;
}

.keyvisual {
  display: block;
  padding: 400px 0;
  background-image: url(../img/keyvisual/keyvisual.jpg) ;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
}

.main_title {
  font-size: clamp(40px, 65 / 1100 * 100vw, 65px);
  font-weight: 700;
  color: #6ba7eb;
  white-space: nowrap;
  margin-bottom: 30px;
}

.sub_title {
  font-size: clamp(30px, 40 / 1100 * 100vw, 40px);
  font-weight: 700;
  color: #fff;
  white-space: nowrap;
}

.work {
  background: #e3f2fd;
  padding: 50px 0 0 0;
}

.img_pc {
  flex: 4;
}

div.inner img {
  width: 250px;
}

.work_inner {
  margin-top: 10px;
  flex: 6;
}

.work_text {
  margin-top: 35px;
  font-size: 15px;
  line-height: 18px;
  word-break: break-all;
}

.skills {
  background: #fff;
  padding: 50px 0 70px;
}

div.skills_inner img {
  width: 300px;
}

.skills_content {
  margin-top: 50px;
  flex-wrap: wrap;
}

.skills_content :not(:nth-child(3n-2)) {
  margin-left: 100px;
}

.skills_content ::nth-child(3n-2) {
  margin-top: 0px;
}

.skills_content :not(:nth-child(1),:nth-child(2),:nth-child(3)) {
  margin-top: 100px;
}

.skills_content::after {
  display: block;
  content:"";
  width: 300px;
  margin-left: 100px;
}

.sk_img {
  opacity: 0.7;
  transition: 0.7s;
}

.sk_img:hover {
  opacity: 1.0;
  transition: 0.7s;
}

.plan {
  background: #d0dfea;
  padding: 50px 0 ;
}

.table {
  margin-top: 50px;
}

.cell--table {
  table-layout: fixed;
}

th[scope='col'] {
  background-color: #6ba7eb;
}

.cell--table th:not(:first-child), .cell--table td:not(:first-child) {
  border-left: 2px solid #fff;
  padding: 10px;
  font-size: 16px;
  line-height: 26px;
}

.cell--table tr {
  background: #f9f9f9;
}

.cell--table tr:nth-child(even) {
  background: #e0efff;
}

h3 {
  font-size: 40px;
  letter-spacing: 10px;
}

.sns {
  padding: 200px 0;
}

.sns, .sns_inner li {
  background: #e3f2fd;
}

ul,.sns_inne,.cell--table td,.plan,h3,.skills_content li,.work_inner,.title,.img_pc {
  text-align: center;
}

.d-start {
  flex-wrap: wrap;
  justify-content: flex-start;
}

.d-center {
  flex-wrap: nowrap;
  justify-content: center;
}

.sns_inner li {
  padding: 25px 0;
  width: 185px;
  color: #8c8c8c;
  overflow: hidden;
  font-size: 40px;
  transition: 0.5s;
}

.sns_inner li:hover {
  background-color: #fff;
  transition: 0.5s;
}

.footer {
  background: #cfd8dc;
  padding: 20px 0 25px;
  text-align: right;
}

.footer p {
  font-size: 10px;
  letter-spacing: 0.5px;
}

.header,.footer,.cell--table,.background_image {
  width: 100%;
}

#menu-toggle {
  display: none;
}

@media screen and  (max-width: 1199px) {

  .inner {
    width: 97%;
  }

  .work .is_flex {
    display: block;
  }

  .work {
    padding: 50px 0;
  }

  .d-start {
    display: block;
  }

  .skills_content :not(:nth-child(3n-2)) {
    margin-top: 0px;
    margin-left: 0px;
  }

  .skills_content ::nth-child(3n-2) {
    margin-top: 80px;
  }

}

@media screen and (min-width:768px) and (max-width: 1199px) {

  .keyvisual {
    padding: 250px 0;
  }

}

@media screen and (max-width: 767px) {

  /*ハンバーガーアイコンの設置部分*/
  .drawer_open {
    display: flex;
    height: 30px;
    width: 30px;
    justify-content: center;
    align-items: center;
    z-index: 100;
    cursor: pointer;
  }

/*ハンバーガーメニューのアイコン*/
  .drawer_open span, .drawer_open span::before, .drawer_open span::after {
    position: absolute;
    content: "";
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 10px;
    background: #333;
    transition: 0.3s;
  }

  /*三本線の一番上の位置*/
  .drawer_open span::before {
    bottom: 8px;
  }

  /*三本線の一番下の位置*/
  .drawer_open span::after {
    top: 8px;
  }

  /*メニューのデザイン*/
  .nav_content {
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%;
    z-index: 99;
    background: #fff;
    transition: 0.3s;
  }

  .nav_content, .sns_inner li,.keyvisual {
    width: 100%;
  }

  #drawer_input:checked ~ .nav_content {
    left: 0;
  }

  .keyvisual {
    padding: 200px 0;
  }

  .main_title {
    font-size: clamp(0px, 65 / 1100 * 100vw, 40px);
  }

  .sub_title{
    font-size: clamp(0px, 40 / 1100 * 100vw, 30px);
  }

  .cell--table th:not(:first-child), .cell--table th:first-child {
    font-size: 14px;
    line-height: 22px;
  }

  .cell--table td:not(:first-child) {
    font-size: 12px;
  }

  .sns {
    padding: 50px 15px;
  }

  .sns_inner li {
    padding: 50px 0;
  }

  .d-center {
    display: block;
  }

  table {
    width: 100%;
    table-layout: fixed;
    word-break: break-all;
    word-wrap: break-all;
  }

}
